@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light, dark --default --prefersdark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
