.crdbl-checked::after {
  content: '';
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  background: url(~/assets/crdbl_checked.svg) center / contain no-repeat;
  vertical-align: middle;
  margin-left: 0.5em;
}

.crdbl-warning::after {
  content: '';
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  background: url(~/assets/crdbl_warning.svg) center / contain no-repeat;
  vertical-align: middle;
  margin-left: 0.5em;
}
